<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/用户/18217/workspace/WebDriverq">
    <classes>
        <class name="gbckTest.caigouTest"></class>
        <class name="gbckTest.shouhuoTest"></class>
        <class name="gbckTest.sizeyouhuiquanTest"></class>
        <class name="gbckTest.vipaddTest"></class>
        <class name="gbckTest.shanghuaddTest"></class>
        <class name="gbckTest.pandianTest"></class>
    </classes>
</test>
</suite>